/* ================== */
/* lg: 1024px <= width */
/* ================== */
@media screen and (min-width: 1024px) {
  body {
    font-size: 16px;
  }

  .lg_flex {
    display: flex;
  }

  .lg_w-150 {
    width: 150px;
  }

  .lg_ml-0 {
    margin-left: 0px;
  }

  .lg_px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .lg_px-30 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .lg_px-40 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .lg_py-30 {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .lg_text-12 {
    font-size: 12px;
  }
}
