/* Foundamental */

body {
  font-family: "Noto Sans JP";
  font-size: 16px;
  color: #384459;
}

/* Layout */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Text */

.text-black {
  color: #384459;
}

.text-white {
  color: #ffffff;
}

.font-bold {
  font-weight: 600;
}

.decoration-none {
  text-decoration: none;
}

/* Background */

.bg-primary {
  background: #007979;
}

/* Border */

.border-right {
  border-right: solid 1px #e4e4e4;
}

/* List */

.list-style-none {
  list-style: none;
}

/* Hover */

.btn-hover:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* Margin, Padding, Gap */

.gap-x-10 {
  gap: 0px 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ================== */
/* sm: width < 639px */
/* ================== */
@media screen and (max-width: 639px) {
  .sm_hidden {
    display: none;
  }
}
