/* Foundamental */

body {
  font-family: "Noto Sans JP";
  font-size: 16px;
  color: #384459;
}

/* Layout */

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Text */

.text-black {
  color: #384459;
}

.text-white {
  color: #ffffff;
}

.font-bold {
  font-weight: 600;
}

.decoration-none {
  text-decoration: none;
}

/* Background */

.bg-primary {
  background: #007979;
}

/* Border */

.border-right {
  border-right: solid 1px #e4e4e4;
}

/* List */

.list-style-none {
  list-style: none;
}

/* Hover */

.btn-hover:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* Widht */
.w-150 {
  width: 150px;
}

/* Margin, Padding, Gap */

.gap-x-10 {
  gap: 0px 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

/* ================== */
/* lg: width < 1023px */
/* ================== */
@media screen and (max-width: 1023px) {
  .lg_hidden {
    display: none;
  }
}

/* ================== */
/* md: width < 767px */
/* ================== */
@media screen and (max-width: 767px) {
  .md_hidden {
    display: none;
  }
}

/* ================== */
/* sm: width < 639px */
/* ================== */
@media screen and (max-width: 639px) {
  body {
    font-size: 12px;
  }

  .sm_hidden {
    display: none;
  }

  .sm_px-0 {
    padding-left: 0px;
    padding-right: 0px;
  }

  .sm_ml-20 {
    margin-left: 20px;
  }

  .sm_px-20 {
    padding-left: 20px;
    padding-right: 20px;
  }

  .sm_py-15 {
    padding-top: 15px;
    padding-bottom: 15px;
  }

  .sm_text-11 {
    font-size: 11px;
  }

  .sm_w-100 {
    width: 100px;
  }
}
