/* ======================== */
/*        モバイルが基準      */
/* ======================== */

/* Foundamental */

body {
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #384459;
}

/* Layout */

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.justify-between {
  justify-content: space-between;
}

.align-center {
  align-items: center;
}

/* Text */

.text-black {
  color: #384459;
}

.text-white {
  color: #ffffff;
}

.font-bold {
  font-weight: 600;
}

.decoration-none {
  text-decoration: none;
}

/* Background */

.bg-primary {
  background: #007979;
}

/* Border */

.border-right {
  border-right: solid 1px #e4e4e4;
}

/* List */

.list-style-none {
  list-style: none;
}

/* Hover */

.btn-hover:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* Widht */
.w-150 {
  width: 150px;
}

/* Margin, Padding, Gap */

.gap-x-10 {
  gap: 0px 10px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-40 {
  padding-left: 40px;
  padding-right: 40px;
}

.py-30 {
  padding-top: 30px;
  padding-bottom: 30px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.ml-20 {
  margin-left: 20px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.text-11 {
  font-size: 11px;
}

.w-100 {
  width: 100px;
}

/* ================== */
/* xl: width > 1280px */
/* ================== */
@media screen and (min-width: 1280px) {
}

/* ================== */
/* lg: width > 1024px */
/* ================== */
@media screen and (min-width: 1024px) {
  .lg_flex {
    display: flex;
  }
}

/* ================== */
/* md: width > 768px */
/* ================== */
@media screen and (min-width: 768px) {
}

/* ================== */
/* sm: width > 640px */
/* ================== */
@media screen and (min-width: 640px) {
}
