/* ======================== */
/*        モバイルが基準      */
/*         sm: 640px        */
/* ======================== */

/* Foundamental */

body {
  font-family: "Noto Sans JP";
  font-size: 12px;
  color: #384459;
}

/* Layout */

.hidden {
  display: none;
}

.flex {
  display: flex;
}

.grid {
  display: grid;
}

.block {
  display: block;
}

.justify-between {
  justify-content: space-between;
}

.justify-center {
  justify-content: center;
}

.align-center {
  align-items: center;
}

.relative {
  position: relative;
}

.absolute {
  position: absolute;
}

/* Position */
.-top-12 {
  top: -12px;
}

.left-80 {
  left: 80px;
}

/* Text */

.text-black {
  color: #384459;
}

.text-primary-800 {
  color: #007979;
}

.text-white {
  color: #ffffff;
}

.text-center {
  text-align: center;
}

.font-medium {
  font-weight: 500;
}

.font-bold {
  font-weight: 600;
}

.decoration-none {
  text-decoration: none;
}

.text-10 {
  font-size: 10px;
}

.text-11 {
  font-size: 11px;
}

.text-14 {
  font-size: 14px;
}

.text-16 {
  font-size: 16px;
}

.text-18 {
  font-size: 18px;
}

.text-20 {
  font-size: 20px;
}

.text-32 {
  font-size: 32px;
}

/* Background */

.bg-primary-50 {
  background: #f1f7f8;
}

.bg-primary-800 {
  background: #007979;
}

.bg-primary-gradient {
  background: linear-gradient(90deg, #2ea1aa 0%, #06bc7a 100%);
}

.bg-hero-sp {
  background-image: url("./img/hero01_bg01_sp.png");
}

/* Border */

.border-right {
  border-right: solid 1px #e4e4e4;
}

.rounded {
  border-radius: 4px;
}

/* List */

.list-style-none {
  list-style: none;
}

/* Hover */

.btn-hover:hover {
  opacity: 0.7;
  transition: 0.5s;
}

/* Width */
.w-70 {
  width: 70px;
}

.w-100 {
  width: 100px;
}

.w-250 {
  width: 250px;
}

.w-300 {
  width: 300px;
}

.w-350 {
  width: 350px;
}

.w-full {
  width: 100%;
}

/* Height */
.h-200 {
  height: 200px;
}

.h-400 {
  height: 400px;
}

/* Margin, Padding, Gap */

.gap-x-10 {
  gap: 0px 10px;
}

.gap-y-10 {
  gap: 10px 0px;
}

.gap-y-20 {
  gap: 20px 0px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.px-30 {
  padding-left: 30px;
  padding-right: 30px;
}

.px-0 {
  padding-left: 0px;
  padding-right: 0px;
}

.px-20 {
  padding-left: 20px;
  padding-right: 20px;
}

.py-10 {
  padding-top: 10px;
  padding-bottom: 10px;
}

.py-15 {
  padding-top: 15px;
  padding-bottom: 15px;
}

.py-20 {
  padding-top: 20px;
  padding-bottom: 20px;
}

.py-50 {
  padding-top: 50px;
  padding-bottom: 50px;
}

.pt-50 {
  padding-top: 50px;
}

.pb-250 {
  padding-bottom: 250px;
}

.mt-30 {
  margin-top: 30px;
}

.mx-auto {
  margin: 0px auto !important;
}

.ml-20 {
  margin-left: 20px;
}
